$color_1: var(--text-content);
$color_2: var(--text-item-hover);
$color_3: var(--active);
$color_4: #000000;
$color_5: var(--primary-color);
$color_6: #fff;
$font-family_1: 'Mulish', sans-serif;
$background-color_1: #fff;
$background-color_2: var(--layout-bg);
$background-color_3: var(--sidebar-bg);
$background-color_4: var();
$background-color_5: var(--layout-header-bg);
$background-color_6: var(--player-bg);
$background-color_7: rgb(248, 249, 253);
$background-color_8: var(--primary-color);
