<div class="container">
<div class="swiper-container">
  <div class="swiper-wrapper">
    <div class="swiper-slide">
      <img src="https://avatar-ex-swe.nixcdn.com/slideshow/2023/02/28/a/b/6/b/1677565845578_org.jpg" alt="Album 1">
      {{!-- <h3>Album 1</h3>
      <p>Artist 1</p> --}}
    </div>
    <div class="swiper-slide">
      <img src="https://avatar-ex-swe.nixcdn.com/slideshow/2023/04/07/9/d/f/b/1680862140455_org.jpg" alt="Album 2">
      {{!-- <h3>Album 2</h3>
      <p>Artist 2</p> --}}
    </div>
    <div class="swiper-slide">
      <img src="https://avatar-ex-swe.nixcdn.com/slideshow/2023/04/07/9/d/f/b/1680867727268_org.jpg" alt="Album 3">
      {{!-- <h3>Album 3</h3>
      <p>Artist 3</p> --}}
    </div>
    <!-- Add more slides as needed -->
  </div>
  <div class="swiper-pagination"></div>
  <div class="swiper-button-prev my-prev-button"></div>
  <div class="swiper-button-next my-next-button"></div>
</div>

</div>